* {
  box-sizing: border-box;
}

.sidebar{
font-family: sans-serif;
  width: 400px;
  min-height: 500px;
  background-color: lightslategray;
  color: white;
  font-size: 25px;
  padding: 25px;
  position: fixed;
  top: 0;
  right: -400px;
  transition: .5s;
  border: 3px solid mediumseagreen;
}

.active {
  right:0
}

button {
  background-color: mediumseagreen;
  padding: 25px;
  border: 1px solid darkgreen;
  cursor: crosshair;
  border-radius: 10px;
}

button:hover{
  background-color:lightseagreen;
}

.marquee {
  overflow: hidden;
  border:3px solid darkgreen;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 50px;
  background-color:mediumseagreen;
  padding:10px;
}
