* {
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x:hidden;
}

.container{
  background:black;
  height:100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: background 20s infinite alternate ease-in-out;
}

.circle-left3{
  height:90px;
  width:90px;
  animation: pulse-left3 9s infinite alternate ease-in-out;
  position: relative;
}

.circle-left2{
  height:95px;
  width:95px;
  animation: pulse-left2 7s infinite alternate ease-in-out;
  position: relative;
}

.circle-left1{
  height:100px;
  width:100px;
  animation: pulse-left1 6s infinite alternate ease-in-out;
  position: relative;
}

.circle-center{
  height:105px;
  width:105px;
  animation: pulse-center 8s infinite alternate ease-in-out;
  position: relative;
}

.circle-right1{
  height:100px;
  width:100px;
  animation: pulse-right1 6s infinite alternate ease-in-out;
  position: relative;
}

.circle-right2{
  height:95px;
  width:95px;
  animation: pulse-right2 7s infinite alternate ease-in-out;
  position: relative;
}

.circle-right3{
  height:90px;
  width:90px;
  animation: pulse-right3 9s infinite alternate ease-in-out;
  position: relative;
}

@keyframes background {
  0% {background:black;}
  25% {background:rgb(10, 36, 34)}
  50% {background:rgb(22, 41, 55);}
  75% {background:rgb(10, 36, 34)}
  100% {background:black;}
}

@keyframes pulse-left3 {
  0% {background:rgb(39, 41, 91);
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 55%;
    border-radius: 85%;}
  100% {background:rgb(39, 41, 91);
    transform: scale(2);
    border-radius:50%;}
}

@keyframes pulse-left2 {
  0% {background:darkcyan;
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 40%;
    border-radius: 85%;}
  100% {background:darkcyan;
    transform: scale(2);
    border-radius:50%;}
}

@keyframes pulse-left1 {
  0% {background:cadetblue;
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 25%;
    border-radius: 85%;}
  100% {background:cadetblue;
    transform: scale(2);
    border-radius:50%;}
}

@keyframes pulse-center {
  0% {background:mediumaquamarine;
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 20%;
    border-radius: 85%;}
  100% {background:mediumaquamarine;
    transform: scale(2);
    border-radius:50%;}
}

@keyframes pulse-right1 {
  0% {background:mediumseagreen;
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 25%;
    border-radius: 85%;}
  100% {background:mediumseagreen;
    transform: scale(2);
    border-radius:50%;}
}

@keyframes pulse-right2 {
  0% {background:seagreen;
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 40%;
    border-radius: 85%;}
  100% {background:seagreen;
    transform: scale(2);
    border-radius:50%;}
}

@keyframes pulse-right3 {
  0% {background:rgb(17, 51, 29);
    transform: scale(2);
    border-radius:50%;}
  50% {background:teal;
    transform:scale(1.5);
    opacity: 55%;
    border-radius: 85%;}
  100% {background:rgb(17, 51, 29);
    transform: scale(2);
    border-radius:50%;}
}
